
.IsHidden{
display : none;
}







#prez{
display: inline-block;
position: absolute;
left : 200px;
top : 315px;
width : 750px;
}
#prez div h1
{
    font-family: Arial, serif;
	background: rgb(149,157,238);
	color: white;
	text-align: left;
    font-weight: bold;
	font-size: 0.8em;
	padding-top: 5px;
	padding-left:7px;
	padding-right: 3px;
	border-radius: 5px;
	
}

#prez div
{
    font-family: Arial, serif;
    font-weight: bold;
	color: rgb(115,120,240);
	text-align: left;
	background: rgb(211,215,248);
	border-radius: 5px;
	padding-bottom : 5px;
	
}
#prez  div p
{
    
	padding-left : 5px;
	
	font-size: 0.7em;
	
}



