/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

body
{
    background: rgb(237,238,252);
    font-family: Arial'Trebuchet MS', sans-serif;
    color: #181818;
}

#bloc_page
{
    width: 1000px;
    margin: auto;
}

section h1, footer h1
{
    font-family: Dayrom, serif;
    font-weight: bold;
	background: rgb(66,82,225);
	color: white;
	padding-left: 2px;
	border-radius: 5px;
	
}

aside h1
{
    font-family: Arial, serif;
    font-weight: bold;
	background: rgb(149,157,238);
	font-size: 1.2em;
	height: 50px;
	color: white;
	text-align: center;
	padding-top: 9px;
	padding-left:3px;
	padding-right: 3px;
	border-radius: 5px;
}
/* Header */

header
{
    background: rgb(29,44,182);
	color: white;
	height: 90px;
	margin-bottom: 5px;
	border-radius: 10px;
}

#titre_principal
{ 
	display: inline-block;
	position: relative;
	top: -45px;
	left: 20px;
	font-size: 2.5em;
	color: white;
	height: 50px;
}

/* Navigation */

nav
{
	display: inline-block;
    position: relative;
	top: -45px;
	left: 20px;
	width: 600px;
    text-align: center;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 8px;
	padding-top: 8px;
}

nav a
{
    font-size: 1.5em;
    color: white;
    text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
}

#FAQ
{
	text-align: left;
}

nav a:hover
{
    border-bottom: 2px solid;
}

nav li:hover
{
	box-shadow: 6px 6px 6px rgb(149,157,238);
}

#Inscription
{
	display: inline-block;
	position: relative;
	top: -50px;
	left: 70px;
	color: white;
	list-style-type: none;
}

Header div a
{
	color: white;
}

#banniere_image
{
	width: 1000px;
	text-align: center;
	border-radius: 10px;
}

#choose
{
	width: 1000px;
	border-radius: 10px;
}

section
{
	display: inline-block;
	width: 680px;
	color: black;
	position: relative;
	left: 155px;
	margin: 5px;	
}

section div, aside div
{
	background: rgb(211,215,248);
	padding-bottom: 2px;
	box-shadow:2px 6px 6px rgb(211,215,248);
	border-radius: 10px;
}

section div
{
	height: 400px;
}

section p
{
	padding-left: 4px;
}

aside
{
	display: inline-block;
	Vertical-align: top;
	width: 150px;
	color: black;
}

#pop
{
	position: relative;
	top: -422px;
	left: -694px;
}

#premium
{
	position: relative;
	top: -204px;
	left: -848px;
}

#new
{
	position: relative;
	top: -422px;
}

#hausse
{
	position: relative;
	top: -203px;
	left: -154px;
}

#actu
{
	position: relative;
	top: -853px;
	left: 542px;
}

#actu h1
{
	height: 30px;
}

#actu div
{
	height: 833px;
}

#concept
{
	position: relative;
