
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/FYNS.png" />
        <title>{% block title %}FYNS{% endblock %}</title>
    </head>

    <body >
        <header>
            <div id="titre_principal">
                <h1 id='fyns'>FYNS</h1>
                <h2 id='fyns2'>Find Your Next Show</h2>
            </div>
            
            <nav>
                <a id='Accueil' href="/">Accueil</a>
                <a id='Shows' href="/Controleur/Series/Series.php#lien">Séries</a>
                <a id='FAQ' href="/Controleur/Faq/Faq.php" ><div id='FAQ1'>FYNS</div><div id='FAQ2'>Pas à pas</div></a>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                
                    <a id='Compte' href="/Controleur/MonCompte/MonCompte.php">Mon compte</a>
                
                {% endif %}
            </nav>
            
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div id="Inscription">
                    
                        
                        <a id='insc1' href="/Controleur/MonCompte/MonCompte.php">{{ app.user.username }}</a>
                        <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                    
                </div>
            {% else %}
        
        
                <div id="Inscription">
                    
                        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                        <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
                    
                </div>

            {% endif %}

        </header>
        
        <!-- ici inclusion template image  --> 

        {% block body %}
        {% endblock %}
            
        <footer>
        
            <div id="Footer_site">
                <h1>FYNS</h1>
                <h2>Find Your Next Show</h2>
                <p>Crée par Eric de La Varende</p>
            </div>
            <div id="Liens">
                <h1>Liens utiles</h1>
                    <ul>
                        <li><a href="#">Accueil</a></li>
                        <li><a href="#">Plan du site</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Séries</a></li>
                    </ul>
            </div>
            <div id="Nouveaux_membres">
                <h1>Nouveaux membres</h1>
                <ul>
                    <li>Identifiant 1</li>
                    <li>Identifiant 2</li>
                    <li>Identifiant 3</li>
                    <li>Identifiant 4</li>
                </ul>
            </div>
        
        </footer>
        
        
        <script src="http://code.jquery.com/jquery.js"></script>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block assets %}
        {% endblock %}
        
        
    </body>
</html>
