
.IsHidden{
display : none;
}







#prez{
	
	width : 991px;
	order : 2;
}
#prez div h1
{
    font-family: Arial, serif;
	background: rgb(149,157,238);
	color: white;
	text-align: left;
    font-weight: bold;
	font-size: 0.8em;
	padding-top: 5px;
	padding-left:7px;
	padding-right: 3px;
	border-radius: 5px;
	margin-top: 10px;
	
}

#prez div
{
    font-family: Arial, serif;
	color: rgb(115,120,240);
	text-align: left;
	background: rgb(211,215,248);
	border-radius: 5px;
	padding-bottom : 5px;
	
}
#prez  div p
{
    
	padding-left : 10px;
	padding-right : 10px;
	font-size: 0.75em;
	line-height : 150%;
	text-align : justify;
	
}



