
.IsHidden{
display : none;
}

.result_focus{
color : blue;
}

.notejava div{
display: inline-block;
}

#right{
	display: flex;

	flex-direction: column;
    flex-wrap: nowwrap;
    justify-content : flex-start;
    align-items: center;
}

#Classement, #Sugg, #notation{


	background: rgb(211,215,248);
	padding-bottom: 2px;
	box-shadow:2px 6px 6px rgb(211,215,248);
	border-radius: 10px;
	position: relative;

}

#Classement{
  
	width : 300px;
	top: 0px;

}

#Sugg{
   
	width : 300px;

}

#notation{
    width : 300px;
	height : 80px;

}

#Series_site{
	background: rgb(211,215,248);
	padding-bottom: 2px;
	box-shadow:2px 6px 6px rgb(211,215,248);
	border-radius: 10px;
	width: 651px;
}

#Notation_series{
	left : 200px;
	top : 315px;
	display: flex;
	flex-wrap: nowwrap;
    justify-content : space-between;
    width: 990px;
    margin-top: 10px;
	order : 2;

}
#middle{
	justify-content : flex-start;
}



.a{ 
	position : absolute;
	height : 15px;
	width : 11px;
	background : rgb(180,190,241);
	font-size: 0.8em;
	font-family: Arial, serif;
    font-weight: bold;
	color: rgb(60,80,200);
	text-align: center;
	padding-bottom: 1px;
	box-shadow:2px 2px 2px rgb(211,215,248);
	border-radius: 2px;
	
}

.b{ 
	position : absolute;
	height : 15px;
	width : 11px;
	background : rgb(200,204,246);
	font-size: 0.8em;
	font-family: Arial, serif;
    font-weight: bold;
	color: rgb(149,157,238);
	text-align: center;
	padding-bottom: 1px;
	box-shadow:2px 2px 2px rgb(211,215,248);
	border-radius: 2px;
	
}

#arriere, #avant{ 
	position : absolute;
	
	text-align: center;
	
	
}

#arriere img, #avant img{ 
	
	height : 15px;
	width : 11px;
	
	
}
#arriere{ 
	left : 158px;
	top: 10px;
	
}
#avant{ 
	left : 173px;
	top: 10px;
	
}



#name_show{

	position : absolute;
	top : -16px;
	left: 19px;
	font-size: 0.8em;
	font-family: Arial, serif;
    font-weight: bold;
	color: rgb(60,80,200);
	text-align: center;
	

}

#noteserie{
	position : absolute;
	left : 200px;
	top : 10px;
	
}

#notefinal{
	position : absolute;
	height : 63px;
	width : 80px;
	background : rgb(200,204,246);
	font-size: 2em;
	font-family: Arial, serif;
    font-weight: bold;
	color: rgb(149,157,238);
	text-align: center;
	
	padding-bottom: 1px;	
	box-shadow:2px 2px 2px rgb(211,215,248);
	border-radius: 2px;
}

table
{
    border-collapse: collapse;
}

#table thead, #Classement table thead, #suggdyn table thead, #table2 thead
{
    font-family: Arial, serif;
    font-weight: bold;
	background: rgb(149,157,238);
	color: white;
	text-align: left;
	padding-top: 9px;
	padding-left:3px;
	padding-right: 3px;
	
}

#table th, #Classement table th, #suggdyn table th, #table2 th
{
    height : 22px;
	
	font-size: 0.9em;
}

#table td, #Classement table td, #suggdyn table td, #table2 td
{
    height : 22px;
	font-weight: bold;
	font-size: 0.7em;
}

#table tbody, #Classement table tbody, #suggdyn table tbody, #table2 tbody
{
    font-family: Arial, serif;
    
	color: rgb(115,120,240);
	
}



.first{
    
	
	
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	

	
}

.last{
    
	
	
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	
}

.a, #arriere, #avant, #notefinal, input{
	cursor : pointer;
}



#Series_site input:focus, #Classement input:focus, #suggdyn input:focus{
	outline : none;
}

#recherche{
	border : solid 1px rgb(200,204,246);
	border-radius : 5px;
	width : 150px;
	font-family: Arial, serif;
	color: rgb(115,120,240);
	font-size : 0.7em;
	height : 15px;
	font-weight : bold;
	font-style : italic;
	padding-left : 4px;  
}

#resultats{
	border-radius : 5px;
	font-family: Arial, serif;
	color: rgb(115,120,240);
	font-size : 0.7em;
	font-weight : bold;
	border : solid 1px rgb(200,204,246);
	width : 150px;
	background : rgb(237,238,252);
}

#img_serie_2, #info_serie_2{
	position : absolute;
}

#barre_recherche{

	position : absolute;
	z-index: 40;	

}
#flag{

	position: absolute;
	left: -25px;
	top: 3.5px;
	display: flex;
	flex-direction: column;
	align-items: center

}
#fr, #en{

	position: relative;
	margin-bottom: 7px;

}


#fiche_serie{
	min-height : 220px;
	
}

#pour_pos{

	display: flex;
}

#info_serie{

	display: flex;
	flex-direction: column;
	font-weight : bold;
	font-size : 0.8em;
	margin-left : 20px;
	margin-bottom : 10px;
	color : rgb(115,120,160);
	border-radius : 5px;
	box-shadow : 1px 1px 1px rgb(115,120,160), -1px -1px 1px rgb(115,120,160);
	position: relative;
	left: 1px;
	padding: 7px;
	min-height: 177px;
	width : 580px;

}

#overview_serie{
	width: 480px;
	position: relative;
	left : 0px;
	top : 0px;
	text-align: justify;
	margin-bottom: 20px;

}

#autre_serie_2{

	position: relative;
	top: 130px;
	left: 140px;
	display: flex;
	flex-direction: row;
    flex-wrap: nowwrap;
    justify-content : flex-start;
    align-items: flex-start;

}

#autre_serie{

	position: relative;
	top: 0px;
	left: 5px;
	display: flex;
	flex-direction: row;
    flex-wrap: nowwrap;
    justify-content : flex-start;
    align-items: flex-start;

}

#date_serie_2, #chaine_serie_2, #genre_serie_2, #format_serie_2, #statut_serie_2, #saison_serie_2, #note_serie_2, #nb_serie_2{

	
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 7px;

}

#date_serie, #chaine_serie, #genre_serie, #format_serie, #statut_serie, #saison_serie, #note_serie, #nb_serie{

	
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 7px;

}

#genre_serie_2 div{

	display: flex;
	flex-direction: column;
	align-items: center;

}

#genre_serie div{

	display: flex;
	flex-direction: column;
	align-items: center;

}

#genre_serie_2, #genre_serie{

	cursor: pointer;
}

.bouton_info, #bouton_note{

	color: rgb(100,100,100);
	background: rgb(170,170,170);
	border-radius: 10px;
	padding-right: 7px;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-top: 3px;
	box-shadow: 1px 1px 1px rgb(115,115,115), -1px -1px 1px rgb(115,115,115);
	font-size: 0.7em;
	

}

#bouton_note{
	position: relative;
	background: none;
	left:30px;
	top: 0px;
	font-size: 1em;
	cursor: pointer;
	color : rgb(115,120,240);
	border : solid 1px rgb(115,120,240);
	box-shadow : 1px 1px 1px rgb(115,120,240);
	font-weight : bold;
}

#notation input{

	background : none;
	color : rgb(115,120,240);
	border : solid 0px rgb(115,120,240);
	border-radius : 5px;
	box-shadow : -1px -1px 8px rgb(115,120,240), 1px 1px 8px rgb(115,120,240);
	font-weight : bold;

	
}

.autre_info_serie_2{

	color: rgb(100,100,100);
	margin-top: 8px;
	font-size: 0.65em;

}

@media screen and (max-width: 1260px) {

	

	#Notation_series{

		
		justify-content: space-around;
	}

	#Series_site{

		width: auto;
		margin-right: 10px;
	}

}