
.IsHidden{
display : none;
}


#bas section{
display: inline-block;
position: absolute;
left : 200px;
top : 315px;
width : 750px;


}

#mysugg{

	position : absolute;
	text-align : center;
	top : 500px;
	left : 600px;
	background : white;
	color : rgb(115,120,240);
	border-radius : 10px;
	height : 20px;
	width : 100px;
	text-decoration : none;
	padding-top : 5px;
	font-weight : bold;
	box-shadow: 3px 3px 3px rgb(200,200,200) inset, -3px -3px 3px rgb(200,200,200) inset;
	font-size : 0.8em;

}

#myshows{
	position : absolute;
	text-align : center;
	top :  500px;
	left : 450px;
	background : white;
	color : rgb(115,120,240);
	border-radius : 10px;
	height : 20px;
	width : 100px;
	text-decoration : none;
	padding-top : 5px;
	font-weight : bold;
	box-shadow: 3px 3px 3px rgb(200,200,200) inset, -3px -3px 3px rgb(200,200,200) inset;
	font-size : 0.8em;

}

@media screen and (max-width: 1260px) {

	

	#mysugg{

		top: 350px;
		left: 400px;


	}

	#myshows{
		top: 350px;
		left: 250px;


	}
}


