

.IsHidden{
display : none;
}



#table{

	width : 600px;
}

.a{ 
	position : absolute;
	height : 15px;
	width : 11px;
	background : rgb(180,190,241);
	font-size: 0.8em;
	font-family: Arial, serif;
    font-weight: bold;
	color: rgb(60,80,200);
	text-align: center;
	padding-bottom: 1px;
	box-shadow:2px 2px 2px rgb(211,215,248);
	border-radius: 2px;
	
}

.b{ 
	position : absolute;
	height : 15px;
	width : 11px;
	background : rgb(200,204,246);
	font-size: 0.8em;
	font-family: Arial, serif;
    font-weight: bold;
	color: rgb(149,157,238);
	text-align: center;
	padding-bottom: 1px;
	box-shadow:2px 2px 2px rgb(211,215,248);
	border-radius: 2px;
	
}

#arriere, #avant{ 
	position : absolute;
	
	text-align: center;
	
	
}

#arriere img, #avant img{ 
	
	height : 15px;
	width : 11px;
	
	
}


#arriere{ 
	left : 158px;
	top: 10px;
	
}
#avant{ 
	left : 173px;
	top: 10px;
	
}



#name_show{

	position : absolute;
	top : -16px;
	left: 19px;
	font-size: 0.8em;
	font-family: Arial, serif;
    font-weight: bold;
	color: rgb(60,80,200);
	text-align: center;
	

}

#noteserie{
	position : absolute;
	left : 200px;
	top : 10px;
	
}

#notefinal{
	position : absolute;
	height : 63px;
	width : 80px;
	background : rgb(200,204,246);
	font-size: 2em;
	font-family: Arial, serif;
    font-weight: bold;
	color: rgb(149,157,238);
	text-align: center;
	
	padding-bottom: 1px;	
	box-shadow:2px 2px 2px rgb(211,215,248);
	border-radius: 2px;
}
#notation input{

	background : none;
	color : rgb(115,120,240);
	border : solid 0px rgb(115,120,240);
	border-radius : 5px;
	box-shadow : -1px -1px 8px rgb(115,120,240), 1px 1px 8px rgb(115,120,240);
	font-weight : bold;

	
}

table
{
    border-collapse: collapse;
}

#table thead, #Classement table thead, #suggdyn table thead
{
    font-family: Arial, serif;
    font-weight: bold;
	background: rgb(149,157,238);
	color: white;
	text-align: left;
	padding-top: 9px;
	padding-left:3px;
	padding-right: 3px;
	
}

#table th, #Classement table th, #suggdyn table th
{
    height : 22px;
	
	font-size: 0.9em;
}

#table td
{
    height : 25px;
	font-weight: bold;
	font-size: 0.7em;
}

#table 
{
    font-family: Arial, serif;
    background: rgb(211,215,248);
	color: rgb(115,120,240);
	padding-bottom: 2px;
	box-shadow:2px 6px 6px rgb(211,215,248);
	border-radius: 10px;
	
}



.first{
    
	
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	
}

.last{
    
	
	
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	
}

.a, #arriere, #avant, #notefinal, #Series_site input{
	cursor : pointer;
}

#Series_site input:focus, #Classement input:focus, #suggdyn input:focus{
	outline : none;
}




#img_serie_2, #info_serie_2, #autre_serie_2, #date_serie_2, #chaine_serie_2, #genre_serie_2, #format_serie_2, #statut_serie_2, #saison_serie_2, #note_serie_2, #nb_serie_2{
	position : absolute;
}

#Sugg, #notation{
	background: rgb(211,215,248);
	padding-bottom: 2px;
	box-shadow:2px 6px 6px rgb(211,215,248);
	border-radius: 10px;
	color: rgb(115,120,240);

}

#Sugg td{

	font-size : 0.7em;
	
}

#mysugg{

	position : absolute;
	text-align : center;
	top : 500px;
	left : 600px;
	background : white;
	color : rgb(115,120,240);
	border-radius : 10px;
	height : 20px;
	width : 100px;
	text-decoration : none;
	padding-top : 5px;
	font-weight : bold;
	box-shadow: 3px 3px 3px rgb(200,200,200) inset, -3px -3px 3px rgb(200,200,200) inset;
	font-size : 0.8em;
	opacity: 0.9;

}

#myshows{
	position : absolute;
	text-align : center;
	top :  500px;
	left : 450px;
	background : white;
	color : rgb(115,120,240);
	border-radius : 10px;
	height : 20px;
	width : 100px;
	text-decoration : none;
	padding-top : 5px;
	font-weight : bold;
	box-shadow: 3px 3px 3px rgb(200,200,200) inset, -3px -3px 3px rgb(200,200,200) inset;
	font-size : 0.8em;
	opacity: 0.9;

}

#Sugg{
	width : 300px;

}

#notation{

    top: 300px;
	width : 300px;
	height : 80px;

}

#right{
	display: flex;
	flex-direction: column;
    flex-wrap: nowwrap;
    justify-content : flex-start;
    align-items: center;
}

#middle{
	justify-content : flex-start;
}
#classement_series{
	left : 200px;
	top : 315px;
	order : 2;
	display: flex;
	flex-wrap: nowwrap;
    justify-content : space-between;
    width: 990px;
    margin-top: 10px;
}

#classement_series input:focus, #sugg input:focus{

	outline: none;
	
}

.suppression{

	cursor: pointer;
	position: relative;
	color: red;
	left: 10px;
	font-weight: bold;
	font-size: 1.1em;
    width: 10px;
    height: 10px;
}

@media screen and (max-width: 1260px) {

	

	#mysugg{

		top: 350px;
		left: 400px;


	}

	#myshows{
		top: 350px;
		left: 250px;


	}

	#table{

		width: auto;
		margin-right: 10px;
	}
}