

/* Eléments principaux de la page */

body
{
    background: rgb(237,238,252);
    font-family: Arial'Trebuchet MS', sans-serif;
    color: #181818;
    display: flex;
    flex-direction: column;
    flex-wrap: nowwrap;
    justify-content : center;
    align-items: center;
}



section h1, section label, footer h1
{
    font-family: Arial, serif;
    font-weight: bold;
	font-size: 0.8em;
	color: white;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left:3px;
	padding-right: 3px;
	border-radius: 5px;
	
}

aside h1
{
    font-family: Arial, serif;
    font-weight: bold;
	background: rgb(149,157,238);
	font-size: 1.2em;
	height: 50px;
	color: white;
	text-align: center;
	padding-top: 9px;
	padding-left:3px;
	padding-right: 3px;
	border-radius: 5px;
	margin-top: 10px;
}
/* Header */

header
{
    background: rgb(55,65,156);
	color: white;
	margin-bottom: 5px;
	border-radius: 10px;
	height : 85px;
	width : 1178px;
	display: flex;
	flex-direction: row;
    justify-content : space-between;
    align-items: center;
}

footer{

	margin-top: 20px;
}


#titre_principal{

 	display: flex;
 	flex-direction: column;
 	flex-wrap: nowwrap;
    justify-content : center;
    align-items: center;
    margin-left: 10px;
	
}

#fyns
{ 
	
	font-size: 3em;
	color: white;
	margin-top : 0px;
	margin-bottom: -5px;
}

#fyns2
{ 
	
	font-size: 0.76em;
	color: white;
	margin: 0px;
}


/* Navigation */

nav
{
	display: flex;
    flex-wrap: nowwrap;
    justify-content : center;
    align-items: center;
    position: relative;
    left: -200px;

}





nav a{

	color : white;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content : center;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
	padding-right: 8px;
	font-size : 0.8em;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 10px;
	text-align: center;


}

nav a:hover, #FAQ:hover
{
    
	background : white;
	color : rgb(115,120,240);
	border-radius : 6px;
	text-decoration : none;
	font-weight : bold;
	box-shadow: 1px 1px 1px rgb(200,200,200) inset, -1px -1px 1px rgb(200,200,200) inset;
	font-size : 0.8em;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
    padding-bottom: 4px;
	text-align: center;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 10px;
}



#Inscription
{
	display: flex;

	flex-direction: column;
    flex-wrap: nowwrap;
    justify-content : center;
    align-items: center;
	margin-right: 20px;
	
	color: white;
	list-style-type: none;
}

#Inscription ul
{
	list-style-type: none;
}

#Inscription div, #Inscription a
{

	
	background : white;
	color : rgb(115,120,240);
	border-radius : 6px;
	text-decoration : none;
	padding-top : 5px;
	font-weight : bold;
	box-shadow: 1px 1px 1px rgb(200,200,200) inset, -1px -1px 1px rgb(200,200,200) inset;
	font-size : 0.8em;
	padding-left: 4px;
	padding-right: 4px;
	width : 100px;
	height: 20px;
	text-align: center;
}

#Inscription div{
	margin-bottom: 5px;
}


#insc1
{
	margin-bottom: 5px;	
}
#insc2
{
}

Header div a
{
	color: white;
}

#banniere_image
{
	
	text-align: center;
}

#choose
{
	width: 1000px;
	
}


aside div
{
	background: rgb(211,215,248);
	padding-bottom: 2px;
	box-shadow:2px 6px 6px rgb(211,215,248);
	border-radius: 10px;
} 

section p
{
	padding-left: 4px;
}

aside
{
	display: inline-block;
	Vertical-align: top;
	width: 150px;
	color: black;
}



#bas{
	width : 1178px;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content : space-between;
} 


#asideg{

	display: inline-block;
    display: flex;
	flex-direction: column;
	order: 1;
}

#asideg li, #asideg h1{

	cursor: pointer;
}

footer{
	background : rgb(80,90,140);
	height : 300px;
	width : 99%;
	display: flex;
}

aside li
{
    font-family: Arial, serif;
    font-weight: bold;
	text-align : left;
	color: rgb(115,120,240);
	font-size: 0.7em;
	padding-bottom: 10px;
	
}

aside ol
{
    
	padding-left: 30px;
	text-align : center;
	
}
#message_infos{

	position: fixed;
	top: -40px;
	left: 50%;
	background: white;
	border: solid 1px rgb(61,153,112);
	color: rgb(61,153,112);
	margin-top: 5px;
	padding-bottom: 4px;
	padding-top: 4px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	z-index: 60;
	opacity: 0.8;
	font-size: 0.8em;
	font-style: italic;
	font-weight: bold;
}

#Liens, #Nouveaux_membres, #Footer_site{
	width : 33%;
	background : rgb(80,90,140);
	height : 300px;
}

#Liens{
 left : 460px;
}

#Nouveaux_membres{
 left : 840px;
}

#Footer_site{
 left : 80px;
}


@media screen and (max-width: 1281px) {
	
	
	
	
	#Footer_site{
		left : -8px
	}
	
	#Liens{
		left : 372px;
	}
	
	#Nouveaux_membres{
		left : 752px;
	}
	
	#banniere_image{
		width : 99%;
	}
	
	header, #bas{
		width : 99%;
	}
	
	

}

@media screen and (max-width: 1260px) {

	nav{

		left:0px;
	}

}

@media screen and (max-width: 1260px) {

	#asideg{

		display: none;
	}


}
