{% extends "::layout.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}


  {% block sugg_body %}
  {% endblock %}

    <div id='asideg'>

        <aside id="pop">
                <div>
                        <h1>Séries Populaires</h1>  
                            <ol>
                                
                                
                            
                            
                    
                            </ol>
                </div>
        </aside>

        <aside id="premium">
                <div>
                        <h1>Séries Premium</h1> 
                            <ol>
                                
                    
                            </ol>
                </div>
        </aside>

        <aside id="new">
                <div>
                        <h1>Nouvelles Séries</h1>   
                            <ol>
                                
                            
                    
                            </ol>
                </div>
        </aside>

        <aside id="hausse">
                <div>
                    <h1>Séries en hausse</h1>
                    <ol>
                        <li>Première</li>
                        <li>Deuxième</li>
                        <li>Troisième</li>
                        <li>Quatrième</li>
                        <li>Cinquième</li>
                    </ol>
                </div>
        </aside>

    </div>

{% endblock %}

{% block assets %}
    {% block sugg_assets %}
    {% endblock %}
{% endblock %}