{% extends "fynsSuggestionsBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Inscription
{% endblock %}

{% block sugg_body %}

    <h3>Formulaire d'inscription</h3>

	<div class="well">
	  {{ form(form) }}
	</div>

{% endblock %}