
.IsHidden{
display : none;
}


#bas form, #bas p{
order : 2;
width : 750px;


}

#inscription_membre{
	background: none;
	color : rgb(149,157,238);
	border: solid 1px rgb(149,157,238);
	border-radius : 5px;
	margin-top : 7px;
	box-shadow : 1px 1px 1px rgb(149,157,238);
	font-weight : bold;
	cursor : pointer;
	width : 90px;
	height : 20px;
	padding-left : 5px;
	padding-top : 2px;
	position : relative;
	left : 190px;
}

input{
	background : white;
	position : relative;
	left : 5px;
	border-radius : 5px;
	color : rgb(149,157,238);
}

label, input{
	margin-top : 8px;
}

#pseudo{
	left : 46px;
}

#vpass{
	left : 23px;
}

#email{
	left : 55px;
}

label{
	color : rgb(149,157,238);
}

#rep{
	color : red;
	position : relative;
	top : -90px;
	left : 300px;
	font-size : 0.7em;
	font-weight : bold;
 
}